name: Lint

on:
  push:
    branches: ["*"]
  pull_request:
    branches: ["*"]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11", "3.12", "3.13", "3.14"]

    steps:
      - uses: actions/checkout@v5
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install packages
        run: |
          python -m pip install --upgrade pip mypy flake8 lxml types-setuptools types-requests
          pip install ./python-src
      - name: Run mypy
        run: |
          mypy --install-types ./python-src --exclude=python-src/build || true
          mypy --install-types --non-interactive ./python-src --exclude=python-src/build
          mypy --install-types --non-interactive 'shellscripts/html-head'
          mypy --install-types --non-interactive 'shellscripts/img-download'
          mypy --install-types --non-interactive 'shellscripts/json-compress'
          mypy --install-types --non-interactive 'shellscripts/lower'
          mypy --install-types --non-interactive 'shellscripts/openurls'
          mypy --install-types --non-interactive 'shellscripts/shebang'
          mypy --install-types --non-interactive 'shellscripts/tq'
          mypy --install-types --non-interactive 'shellscripts/unique-ignore-case'
      - name: Run flake8
        run: |
          flake8 --config ./python-src/.flake8 ./python-src/pura
